# ---- Vivado build/compile artifacts ----
*.jou
*.log
*.str
*.backup.jou
*.backup.log
.Xil/
*.cache/
*.gen/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
webtalk*.jou
webtalk*.log
webtalk_pa.xml
usage_statistics_webtalk.html
usage_statistics_webtalk.xml
vivado_pid*.str
*.bak
*.bit
*.xsa
*.xci

# ---- Vitis / Xilinx SDK (Eclipse-based) build/compile artifacts ----
.metadata/
RemoteSystemsTempFiles/
.analytics
IDE.log
_ide/
Debug/
Release/
*.o
*.d
*.elf
*.elf.size
*.bin
*.mem
objects.mk
sources.mk
subdir.mk
*.prj
